.header__logo {
    width: 104px;
    height: 25px;
    margin: 28px auto 32px 27px;
}

@media screen and (min-width: 924px) {
    .header__logo {
        margin: 0 0 41px 0;
    }
}


@media screen and (min-width: 1024px) {
    .header__logo {
        width: 142px;
        height: 33px;
    }
}