.profile__title-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 217px;
    margin: 0 auto 14px auto;
}

@media screen and (min-width: 924px) {
    .profile__title-form {
        margin: 0;
        margin-bottom: 16px;
        width: 336px;
    }
}