.close-icon {
    padding: 0;
    width: 20px;
    height: 20px;
    background: inherit;
    cursor: pointer;
    border: none;
    background-image: url(../../images/close-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -36px;
    right: 0;
}

.close-icon:hover {
    background-image: url(../../images/close-icon-hover.svg);
}

@media screen and (min-width: 1024px) {
    .close-icon {
        top: -40px;
        right: -40px;
        width: 32px;
        height: 32px;
    }
}